:root {
  --max-mob-width: 500px;
  --max-tablet-width: 1000px;
  --max-desktop-width: 1200px;

  --padding-side-mob: 20px;
  --padding-side-tab: 72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline:1px solid red;*/
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: 500;
}

input {
  padding: 0;
}

figure {
  margin: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* Додатково можна вимкнути виділення тексту */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
  background: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

/* #region header */
.header {
  background: url("./assets/images/hero/hero.webp") no-repeat center/cover;
  height: 568px;
  padding: 25px var(--padding-side-mob) 0;

  @media screen and (min-width: 768px) {
    padding: 50px var(--padding-side-tab);
  }
}

.header__logo {
  width: 64px;
  height: 48px;

  @media screen and (min-width: 768px) {
    width: 87px;
    height: 65px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 129px;

  @media screen and (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.header__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.header__button {
  color: white;
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}

/* #endregion */

.hero__title {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Cinzel;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1.5px;

  @media screen and (min-width: 768px) {
    font-size: 64px;
    max-width: 392px;
  }
}
